.App {
    text-align: center;
    display: flex;
    height: 100vh;
    min-width: 360px;
}

.App-logo {
    width: 80px;
}

.App-header {
  background-color: #FA8670;
  padding: 20px;
  color: white;
    width: 200px;
}

.App-title {
  font-size: 1.5em;
}

.material-icons {
    cursor: pointer;
}

.todo-wrapper {
	margin: 0px auto;
	min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 30px;
    padding-left: 30px;
}

.buttons_item button {
    margin-left: 5px;
    font-size: 11px;
}

.todoWrapper {
    margin: 5px 0;
}

.list-group {
    border-radius: 0;
    box-shadow: none;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list_items {
    max-height: 400px;
    overflow: auto;
    -webkit-border-radius: 5px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px -5px #0c6eb1;
}

.title_item {
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 25px;
}

.todoItem {
    display: flex;
}

.input-group {
    display: flex;
    width: 100%;
    padding: 40px 0;
}

.filter_items {
    display: flex;
    justify-content: center;
    border-top: 1px solid #cecece;
    padding-top: 20px;
}

@media (max-width: 767px) {
    .App-logo {
        width: 50px;
    }

    .App {
        display: block;
    }

    .App-header {
        width: auto;
    }

    .list-group {
        height: auto;
    }

    .todo-wrapper {
        display: block;
    }
}